.home {
    position: fixed;
    top: -53.2px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homeLogo {
    width: 120px;
    padding-bottom: 14px;
}

.title {
    font-size: 2.25rem;
    margin-top: 8rem;
    font-weight: bold;
    text-align: center;
}

.mainSearch {
    background: var(--primary);
    border: none;
    outline: none;
    color: var(--text-inverse);
    height: 44px;
    padding-left: 44px;
    padding-right: 44px;
    width: 584px;
    font-size: 1rem;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: var(--border-radius-round);
}

.homeOmnibox {
    position: relative;
    max-width: calc(100% - 1rem);
}

.homeSearchIcon {
    background: transparent;
    height: calc(100% / 1.5);
    position: absolute;
    top: 7.3375px;
    left: 7.3375px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-circle);
    aspect-ratio: 1 / 1;
}

.homeSpeechInputIcon {
    background: transparent;
    height: calc(100% / 1.5);
    position: absolute;
    top: 7.3375px;
    right: 7.3375px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-circle);
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.homeSpeechInputIcon.unavailable {
    cursor: not-allowed;
}

.homeSpeechInputIcon.unavailable path {
    color: #444444;
    fill: #444444;
}

.homeSpeechInputIcon.listening {
    background: var(--background);
}

.homeSpeechInputIcon.listening path {
    color: #dd3333;
    fill: #dd3333;
}

.footer {
    position: fixed;
    bottom: 0.25rem;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 14px;
}
