.prompt {
    background: var(--background) !important;
    color: var(--text) !important;
    padding: 16px;
    width: fit-content;
    border-radius: 5px;
    position: absolute;
    right: 16px;
    top: 48px;
    user-select: none;
    min-width: 430px !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.prompt-details {
    display: flex;
    margin-bottom: 6px;
}

.app-icon img:not([src=""]) {
    height: 38px;
    width: 38px;
    margin-right: 16px;
}

.app-title {
    font-size: 16px;
    color: var(--text) !important;
}

.permission-list-header {
    font-size: 14px;
    color: var(--text) !important;
}

.permission-items {
    overflow: auto;
    max-height: 80px;
    list-style-type: none;
    padding: 0px !important;
    font-size: 14px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.permission-items::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.permission-item {
    color: var(--text);
    opacity: 0.8;
    padding: 4px 0px;
}

.prompt-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button-action {
    text-transform: none !important;
}

.button-action:nth-child(1) {
    margin-right: 4px;
}

.button-action:nth-child(2) {
    margin-left: 4px;
}