body {
    margin: 0;
    background: var(--background);
    --secondary: color-mix(in srgb, var(--text) 13%, transparent);
    --secondary-inverse: color-mix(in srgb, var(--text-inverse) 26%, transparent);
    --overlay: color-mix(in srgb, var(--background) 52%, transparent);
    --panel-width: 0px;
}

body[data-panel="true"] .web {
    width: min(calc(100% - var(--panel-width)), calc(100% - 22rem)) !important;
}

body[data-panel="true"] {
    --panel-width: 352px;
}

body[data-panel="false"] {
    --panel-width: 0px !important;
}

body:not([data-panel]) {
    --panel-width: 0px !important;
}

body[data-panel-resizing="true"] .web {
    transition: none !important;
}

body * {
    color: var(--text);
    font-family: var(--font);
}

body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-thumb {
    background: var(--primary);
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 8px;
}

::placeholder {
    color: var(--text-inverse);
    opacity: 0.8;
    user-select: none;
}

::selection {
    background: var(--secondary, #5865f2);
}

.nav {
    background: var(--background);
    height: 3rem;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.omnibox {
    width: -webkit-fill-available;
    margin: 0 0.25rem;
    position: relative;
}

.search {
    height: 2.25rem;
    border-radius: var(--border-radius-round);
    background: var(--primary);
    border: none;
    outline: none;
    padding: 0 0.5rem;
    width: -webkit-fill-available;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    color: var(--text-inverse);
}

.search::selection {
    background: var(--secondary-inverse, #5865f2);
}

.omnibox[data-suggestions="true"] .search {
    border-radius: var(--border-radius-secondary) var(--border-radius-secondary)
        0 0;
}

.searchIcon {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: var(--border-radius-circle);
    background: var(--primary);
    position: absolute;
    left: 0.35rem;
    top: 0.35rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls {
    display: flex;
    margin: 0 0.3rem;
    gap: 0.25rem;
}

.controlsButton {
    height: 2rem;
    border-radius: var(--border-radius-circle);
    background: transparent;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 200ms ease-in-out;
}

.controlsButton[data-disabled="true"] {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}

.controlsButton:not([data-disabled="true"]):hover {
    background: var(--secondary, transparent);
}

.panel {
    background: var(--background);
    position: fixed;
    top: 3rem;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(22rem);
    transition: transform 100ms;
    max-width: calc(100% - 8rem);
    min-width: 22rem;
    width: var(--panel-width);
}

.sidePanel {
    background: transparent;
    width: calc(100% - 2rem);
    height: calc(100% - 1rem);
    border-radius: var(--border-radius);
}

.web {
    position: fixed;
    top: 3rem;
    left: 0;
    bottom: 0;
    height: calc(100% - 3rem);
    border: none;
    background: var(--background);
    user-select: none;
    transition: width 100ms, right 100ms;
    width: calc(100% - var(--panel-width));
    min-width: 8rem;
}

.suggestions {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 9;
    border-radius: 0 0 var(--border-radius-secondary)
        var(--border-radius-secondary);
    background: var(--background);
    box-shadow: 0 1px 2px 0 var(--background);
    display: none;
    background: var(--primary);
}

.suggestions::before {
    content: "";
    position: absolute;
    background: var(--primary);
    height: 4px;
    width: 100%;
    top: -2px;
    pointer-events: none;
}

.omnibox[data-suggestions="true"] .suggestions {
    display: inherit;
}

.suggestion {
    height: 2.25rem;
    display: flex;
    align-items: center;
    padding-left: 0.35rem;
    background: var(--primary);
    cursor: pointer;
    color: var(--text-inverse);
    transition: background 200ms ease-in-out;
}

.suggestion:hover {
    background: var(--secondary-inverse, transparent);
}

.suggestion span {
    color: var(--text-inverse);
}

.suggestion:last-child {
    border-radius: 0 0 var(--border-radius-secondary)
        var(--border-radius-secondary);
}

.suggestionIcon {
    margin-right: 0.35rem;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-circle);
}

.MuiSvgIcon-root path {
    fill: currentColor;
}

.suggestionIcon .MuiSvgIcon-root path,
.favoriteIcon .MuiSvgIcon-root path,
.shareIcon .MuiSvgIcon-root path,
.historyPanelFaviconGlobe .MuiSvgIcon-root path,
.historyPanelRemove .MuiSvgIcon-root path,
.sidePanelThemePreviewDefault .MuiSvgIcon-root path,
.sidePanelItemIcon .MuiSvgIcon-root path {
    color: var(--text-inverse);
}

.sidePanelNav {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}

.sidePanelItem {
    border-radius: var(--border-radius);
    width: 9rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-size: 0.85rem;
    margin-right: 0.5rem;
    position: relative;
    background: var(--primary);
    height: 35px;
}

.sidePanelItemTitle {
    overflow: hidden;
    margin-right: 0.5rem;
    user-select: none;
    color: var(--text-inverse);
}

.sidePanelItemTitle span {
    color: var(--text-inverse);
}

.sidePanelItemIcon {
    font-size: 10px;
    margin-left: auto;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-circle);
}

.sidePanelBody {
    width: 100%;
    height: calc(100% - 44px - 0.75rem - 1rem);
    border-radius: var(--border-radius-secondary);
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    padding-top: 0.5rem;
    background: var(--primary);
    padding-bottom: 0.5rem;
}

.sidePanelBody::-webkit-scrollbar {
    width: 16px;
}

.sidePanelBody::-webkit-scrollbar-thumb {
    background: var(--text-inverse);
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 8px;
}

.sidePanelBody::-webkit-scrollbar-corner {
    display: none;
}

.sidePanelBody::-webkit-scrollbar-track {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sidePanelClose {
    margin-left: auto;
    height: 2rem;
    border-radius: var(--border-radius-circle);
    background: transparent;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 200ms ease-in-out;
}

.sidePanelClose:hover {
    background: var(--secondary, transparent);
}

.sidePanelNav[data-open="true"] .sidePanelItem {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.sidePanelItems {
    position: absolute;
    background: var(--primary);
    top: 40px;
    left: 0;
    width: 100%;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    overflow: hidden;
    flex-direction: column;
    display: none;
    box-shadow: 0 1px 2px 0 var(--background);
    z-index: 9;
    top: 30px;
}

.sidePanelItemsOption {
    height: 2.25rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    background: var(--primary);
    cursor: pointer;
    color: var(--text-inverse);
    user-select: none;
    transition: background 200ms ease-in-out;
}

.sidePanelItemsOption:hover {
    background: var(--secondary-inverse, transparent);
}

.sidePanelItemsOption span {
    color: var(--text-inverse);
}

.sidePanelNav[data-open="true"] .sidePanelItems {
    display: flex;
}

.favoriteIcon {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: var(--border-radius-circle);
    background: transparent;
    position: absolute;
    right: 0.35rem;
    top: 0.35rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 200ms ease-in-out;
}

.shareIcon {
    display: none !important;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: var(--border-radius-circle);
    background: transparent;
    position: absolute;
    right: calc(0.35rem + 1.5rem + 0.15rem);
    top: 0.35rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 200ms ease-in-out;
}

.favoriteIcon:hover, .shareIcon:hover {
    background: var(--secondary-inverse, transparent);
}

.sourceCode {
    word-break: normal;
    overflow-wrap: anywhere;
    white-space-collapse: preserve;
    text-wrap: wrap;
    color: var(--text);
    position: relative;
}

.sourceCode::before {
    content: "";
    position: absolute;
    background: var(--primary);
    top: 0;
    bottom: 0;
    left: 0.5rem;
    width: 2rem;
    z-index: -1;
    border-radius: var(--border-radius);
}

.lines {
    margin: 0;
    margin-bottom: 0.5rem;
}

.line {
    padding-left: 0.5rem;
}

.line::marker {
    color: var(--text-inverse);
    font-size: 0.75rem;
}

.historyPanel {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}

.historyPanelItem {
    display: flex;
    gap: 6px;
    align-items: center;
    user-select: none;
    cursor: pointer;
    height: 2rem;
}

.historyPanelTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-inverse);
}

.historyPanelTitle span {
    color: var(--text-inverse);
}

.historyPanelFavicon {
    height: 1em;
    width: 1em;
}

.historyPanelFaviconGlobe {
    display: flex;
    height: 1em;
    width: 1em;
    align-items: center;
    justify-content: center;
}

.historyPanelRemove {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    height: 2rem;
    width: 2rem;
    border-radius: var(--border-radius-circle);
    transition: background 200ms ease-in-out;
    flex-shrink: 0;
}

.historyPanelRemove:hover {
    background: var(--secondary-inverse, transparent);
}

.historyPanelRemoveAll {
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 0.5rem;
    background: var(--overlay, var(--background));
    width: fit-content;
    border-radius: var(--border-radius-round);
    height: 2rem;
    margin: 0.5rem;
    margin-top: 0;
    cursor: pointer;
    user-select: none;
}

.sidePanelThemes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, max-content));
    justify-content: center;
    gap: 0.5rem;
}

.sidePanelTheme {
    border-radius: var(--border-radius);
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.25rem;
    flex-direction: column;
    color: var(--text-inverse);
    margin: 0.25rem;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
}

.sidePanelTheme span {
    color: var(--text-inverse);
}

.sidePanelThemePreview {
    height: 2.75rem;
    border-radius: var(--border-radius-circle);
    background: var(--theme);
    width: 2.75rem;
    border: 1px solid var(--text-inverse);
}

.sidePanelThemePreviewDefault {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    border: none;
}

.sidePanelThemeActive {
    background: var(--overlay, var(--background));
}

.errorIcon {
    height: 10rem;
    width: 10rem;
    margin: 0 auto;
    margin-top: 3rem;
}

.errorIcon .MuiSvgIcon-root path {
    color: var(--primary);
}

.errorTitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
}

.errorText {
    text-align: center;
}

.sidePanelCloakingPresets {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.sidePanelCloakingPreset {
    height: 2.5rem;
    width: 2.5rem;
    background: var(--overlay, var(--background));
    border-radius: var(--border-radius-circle);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.sidePanelCloakingPreset img {
    height: 60%;
    width: 60%;
}

.sidePanelCloakingInputMain {
    width: max(20rem, calc(var(--panel-width) - 2rem));
}

.sidePanelCloakingInput {
    background: var(--overlay, var(--background));
    border: none;
    height: 2.5rem;
    outline: none;
    border-radius: var(--border-radius);
    width: -webkit-fill-available;
    margin: 0 0.5rem;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
    font-size: 0.85rem;
}

.sidePanelCloakingInput::placeholder {
    color: var(--text);
}

.customStyleMain {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.settingsTitle {
    margin: 0 0.5rem;
    font-size: 1rem;
    color: var(--text-inverse);
    user-select: none;
}

.settingsTitle span {
    color: var(--text-inverse);
}

.settingsTitleSecondary {
    margin-top: 0.5rem;
}

.settingsOptions {
    display: flex;
    margin: 0 0.5rem;
    margin-top: 0.5rem;
    gap: 0.4rem;
}

.settingsOption {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    font-size: 0.85rem;
    border-radius: var(--border-radius);
    color: var(--text-inverse);
    user-select: none;
    cursor: pointer;
}

.settingsOption span {
    color: var(--text-inverse);
}

.settingsOptionSelected {
    background: var(--overlay, var(--background));
    color: var(--text);
}

.settingsOptionSelected span {
    color: var(--text);
}

.sidePanelExtensions {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(17rem, max-content));
    justify-content: center;
    width: min(max(18rem, calc(var(--panel-width) - 3rem)), 100% - 1rem);
}

.sidePanelExtension {
    background: var(--overlay, var(--background));
    margin: 0 0.5rem;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    width: calc(100% - 1rem);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.sidePanelExtensionAuthor {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
    opacity: 0.7;
}

.sidePanelExtensionName,
.sidePanelExtensionAuthor,
.sidePanelExtensionDescription {
    user-select: none;
}

.sidePanelExtensionInstall {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    font-size: 0.85rem;
    border-radius: var(--border-radius);
    color: var(--text-inverse);
    user-select: none;
    cursor: pointer;
    background: var(--primary);
    outline: none;
    border: none;
    margin-left: auto;
    margin-top: auto;
}

.sidePanelExtensionInstall span {
    color: var(--text-inverse);
}

.sidePanelExtensionDescription {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
}

.sidePanelYoutubeDownloader {
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.sidePanelYoutubeDownloaderLink {
    text-decoration: none;
    background: var(--background);
    border-radius: var(--border-radius-round);
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem;
    user-select: none;
}

.resizePanel {
    width: 1rem;
    cursor: w-resize;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
}

.resizePanel svg {
    transform: rotate(90deg);
}

.contextMenu {
    position: absolute;
    border-radius: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: var(--primary) !important;
}

.contextMenuButton {
    min-width: 300px;
    padding-left: 42px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--text-inverse);
    font-size: 90%;
    user-select: none;
    cursor: pointer;
}

.contextMenuButton:hover {
    background: rgba(200, 200, 200, 0.2);
}

.contextMenuButton[disabled] {
    cursor: default;
    opacity: 0.8;
}

.contextMenuSeparator hr {
    border: rgba(200, 200, 200, 0.2) solid 0.5px !important;
    margin: 0.2em;
}